@model DateTime
@{
    ViewData["Title"] = "Title";
}
<div class="container text-center">
    <div class="row bg-warning rounded-5">
        <div class="col-md-12" style="font-size:7em;">
            <h1>Time</h1>
            <p id="time">@Model.ToString("hh:mm:ss")</p>
        </div>
    </div>
    
</div>

@section Scripts
    {
    <script>
        let time = document.getElementById("time");
        const refreshTime = () => {
            let date = new Date();
            time.innerHTML = date.toLocaleTimeString();

            let min = date.getMinutes();
            let sec = date.getSeconds();

            
            if (min === 0 && sec === 00) 
            {
                new Audio("/assets/sounds/WorkStart.mp3").play();
            }
            else if (min === 3 && sec === 00) 
            {
                new Audio("/assets/sounds/BreakTime.mp3").play();
                playMusic();
            }
        }
        setInterval(() => {
            refreshTime();
        }, 1000);
    </script>
    }








